/*------- Body issue-------
--------------------------- */

head, body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
}
body{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position-x: 1010px;
    background-position-y: 190px;
    
}
/*------ header issue-------
---------------------------- */
h6{

margin-left: 120px;

margin-top: 87px;
margin-bottom: 0%;



font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;


color: #3A3A3A;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    width: 463px;
height: 36px;
margin-bottom: 0;

margin-right: 30px;
font-weight: bold;
    
}
nav{
    display: flex;
    justify-content: space-between;
    color: #3A3A3A;
}
ul{
    margin-right: 120px;
    margin-top: 95px;
}

/*------Header issue end--------
-------------------------------- */

/* first section */

.first-section{
    margin-top: 145.8px;
    margin-right: 120px;
     display: flex;
    
     width: 100%;
    margin-bottom: 160px;
    
    
}


.first-section h3{
    margin-left: 120px;
    width: 582px;
height: 133px;
font-style: normal;
font-weight: 700;
font-weight: bold;
font-size: 52px;
color: #3A3A3A;
margin-top: 0;
margin-bottom: 0;
}
.first-section p{
    margin-left: 120px;
    margin-top: 36px;
    margin-bottom: 36px;
font-style: normal;
font-weight: 500;
width: 582px;

border-radius: 41px;

color: #3A3A3A;
}
.button{


text-decoration: none;
color: honeydew;
background:#E02C6D;
text-align: center;
padding: 10px 0px 10px 24px;
border-radius: 41px;
width: 196px;
height: 44px;
margin-left: 120px;
margin-bottom: 0px;

}
.fas.fa-arrow-right{
 padding: 10px 24px 10px 8px ;
 margin-bottom: 0;
}
.main-cam{
    margin-bottom: 0;
    position: absolute;
    left: 1035px;
    top: 211px;
    
    
}
.main-cam :hover{
    transform: scale(1.5) rotate(60deg);
    
    transition: transform 2s ease-in-out 0.3s;
}

/*------ first section end--------
------------------------------- */


/*-----second section start----- */


.second-section{
    display: flex;
    justify-content: space-evenly;
    margin-left: 265px;
    margin-top: 0 ;
    margin-right: 265px;
    margin-bottom: 100px;
    border: 2px outset rgba(255, 255, 255, 0.247);
}

/* second section end  */

/* --------------------------- */

/* third section start  */
.third-section{
    margin-bottom: 100px;
    overflow: hidden;
}
.heading{
    font-size: 28px;
    text-align: center;
    color: #3A3A3A;
    margin: 0 0 22 0;
}
.product{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 329px;
    height: 476px;
    overflow: hidden;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    position: absolute;
    
    width: 329px;
    height: 476px;
    left: 450px;
    top: 1060px;
    width: 1047px;
    
    

}
.thumbnail img{
    margin: 15px;
    margin-bottom: 0;
    
    
}
.thumbnail img:hover{
    transform: scale(1.5);
    
    transition: transform 1s ease-in-out 0s;
    
}
.product-info, .star , .info {
    padding-left: 15px;
}

.product-name{
    margin-top: 16px;
    margin-bottom: 6px;
    color: #18191F;
    font-weight: 500;
    font-size: 28px;
}
.product-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    align-items: center;
}
.star{
    color: rgb(255, 197, 38);
    margin-top: 2px;
    margin-bottom: 2px;
}
.point{
    font-weight: bold;
font-size: 14px;
color: #5E6366;
}
.info{
    font-size: 14px;
line-height: 143%;
display: flex;
align-items: center;
letter-spacing: 0.018em;
color: #787885;
width: 140px;

}
.button2{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    width: 150px;
    left: 925px;
    top: 1540px;
    margin-bottom: 100px;
    
}
/* third-section end  */

/* ------------------------ */

/* forth-section start  */

.forth-section{
    position: absolute;
    top: 2600px ;
    left: 725px;
  
  width: 500px;
  height: 350px;
  background-color: rgba(255, 255, 5, 0.404);  
  border-radius: 25px;
  margin-top: 55px;  
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.compare{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forth-section h5{
    color: #3A3A3A;
    padding-right: 10px;
    margin-bottom: 0; 
    font-size: 1.5em;

}
.forth-section p{
    font-size: x-small;
    padding-right: 30px;
    color: #000;
}

.forth-section input{
    border: 1px solid lightslategray;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: 200px;
    width: 350px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15px;
}
#button3 {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.3em;
    background-color: rgb(42, 141, 255);
    color: whitesmoke;
    text-align: center;
    align-items: center;
    
}

/* forth section end  */

/*------ footer------- */

footer{

    position: absolute;
    top: 3150px ;
    background-color: rgb(9, 0, 20);
    border: 2px solid;
    width: 100%;
    
    color: #FFFFFF;

}
footer h3{
    text-align: center;



font-style: normal;
font-weight: bold;
font-size: 24px;



color: #FFFFFF;


}
footer p{
    text-align: center;
}
footer div{
    margin-left: 860px;
    
}
.icon{
    padding-right: 25px;
    font-size: 1.5em;
    color: #FFFFFF;

}
/* footer end  */
/* mobile device */

    @media only screen and (max-width: 450px ) {
       
    
      .hidden{
          display: none;
      }
      .third-section{
          width: 100%;
      }
      .first-section{
          width: 100%;
      }

      .products{
          grid-template-columns: repeat(1, 1fr);

      }
      .product{
          flex-direction: column;
      }
    }
    
/* mobile device end */

